<div class="container">
<div class="jumbotron">
    <h1 class="display-3">Burgers are Life</h1>
    <p class="lead">A burger a day keeps the doctor away.</p>
    <hr class="my-2">
    <p>Create any burger and devour it!</p>
    <p class="lead">
        <a class="btn btn-primary btn-lg" href="Jumbo action link" role="button">Create a burger!</a>
    </p>
</div>

<div class="card col-6">
    <img class="card-img-top" src="https://assets3.thrillist.com/v1/image/2709963/792x1500/scale;jpeg_quality=60;progressive.jpg" alt="Burger image needed">
    <div class="card-body=">
        <h4 class="card-title">Burgers</h4>
    </div>
    <ul class="list-group list-group-flush">
        
        {{!-- figure out loop -- where do I put "burgers"? --}}
        {{#each burger}}
            <li class="list-group-item">{{{burger_name}}}</li>
                <button type="button" class="btn btn-primary btn-md col-3 float-right">Devour!</button>
        {{/each}}

    </ul>
</div>

</div>